@model Order
@{
    ViewData["Title"] = "Thanh toán";
}

<div class="container d-flex justify-content-center align-items-center vh-100">
    <div class="col-md-6 col-lg-5">
        <div class="text-center mb-3">
            <h2 class="class=" text-muted fw-bold" style="margin-top: -187px;"> @ViewData["Title"] </h2>
            <p class="text-muted">Vui lòng điền thông tin để hoàn tất đơn hàng</p>


            <form asp-action="Checkout" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger mb-3" role="alert"></div>

                <div class="form-floating mb-3">
                    <input asp-for="CustomerName" class="form-control" placeholder="Tên khách hàng" />
                    <label asp-for="CustomerName">Tên khách hàng</label>
                    <span asp-validation-for="CustomerName" class="text-danger"></span>
                </div>

                <div class="form-floating mb-3">
                    <input asp-for="PhoneNumber" class="form-control" placeholder="Số điện thoại" />
                    <label asp-for="PhoneNumber">Số điện thoại</label>
                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                </div>


                <div class="form-floating mb-3">
                    <input asp-for="ShippingAddress" class="form-control" placeholder="Địa chỉ giao hàng" />
                    <label asp-for="ShippingAddress">Địa chỉ giao hàng</label>
                    <span asp-validation-for="ShippingAddress" class="text-danger"></span>
                </div>

                <div class="form-floating mb-3">
                    <textarea asp-for="Notes" class="form-control" placeholder="Ghi chú cho đơn hàng"></textarea>
                    <label asp-for="Notes">Ghi chú</label>
                    <span asp-validation-for="Notes" class="text-danger"></span>
                </div>



                <button type="submit" class="w-100 btn btn-lg btn-primary">Đặt hàng</button>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
