@model WebBanTrangSuc.Models.Category

<h2>Thêm Danh Mục</h2>

<form method="post">
    <div class="form-group">
        <label for="Name">Tên Danh Mục</label>
        <input type="text" id="Name" name="Name" class="form-control" required />
    </div>
    <button type="submit" class="btn btn-success">Thêm Danh Mục</button>
</form>
